td{
    padding-left: 10px;
    border-radius: 10px;
}
table{
    width: 750px;
    height: 540px;
}
h5{
    display: flex inline;
    justify-content: center;
    -webkit-app-region: drag;
    text-align: center;
    width:90%;
}
#closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.title{

}